annotated-types==0.7.0
cfgv==3.5.0
distlib==0.4.2
filelock==3.29.1
identify==2.6.19
nodeenv==1.10.0
platformdirs==4.10.0
pre_commit==4.6.0
pydantic==2.13.4
pydantic_core==2.46.4
python-discovery==1.4.0
PyYAML==6.0.3
typing-inspection==0.4.2
typing_extensions==4.15.0
virtualenv==21.4.2
